*,
*::after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*font-size: 62.5%;*/
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: #04105D;
    color: #04105D;
    position: relative;
    font-display: swap;
}

section {
    padding-top: 50px;
}

a {
    color: #04105D;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s;
}

a:hover {
    color: #04105D;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 140%;
    color: #04105D;
    font-weight: 400;
}

p small {
    font-size: 0.9rem;
}

span.hr{
    width: 50px;
    height: 3px;
    background: #FEB323;
    margin: 16px auto 0;
    display: block;
}

li {
    color: #04105D;
}

.whitecolor {
    color: #ffffff;
}

h1 {
    font-size: 2.5rem;
    line-height: 120%;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;

}

h3 {
    font-size: 1.5rem;
    line-height: 140%;

}

h4 {
    font-size: 1rem;
    line-height: 140%;
}

hr {
    background: #ebebe9;
    opacity: 1;
}
@media only screen and (min-width: 150px) and (max-width: 670px) {
.btn-primary {
    background-color: #FEB323;
    display: block;
    margin: auto;
    text-align: center;
    align-self: center;
    align-items: center;
    border-radius: 10rem !important;
    border-color: #FEB323;
    font-size: 1.05rem;
    font-weight: 650;
    padding: 11px 18px 11px;

    margin-top: 10px;
      box-shadow: none;
      outline: none;

 }
}
@media only screen and (min-width: 450px) and (max-width: 2500px){
    .btn-primary {
    background-color: #FEB323;
    display: block;
    margin: auto;
    text-align: center;
    align-self: center;
    align-items: center;
    border-radius: 10rem !important;
    border-color: #FEB323;
    font-size: 1.05rem;
    font-weight: 650;
    padding: 11px 18px 11px;
    margin-top: 10px;
      box-shadow: none;
      outline: none;

 }
}

@media only screen and (min-width: 2501px){
       .btn-primary {
    background-color: #FEB323;
    display: block;
    margin: auto;
    text-align: center;
    align-self: center;
    align-items: center;
    border-radius: 10rem !important;
    border-color: #FEB323;
    font-size: 1.05rem;
    font-weight: 650;
    padding: 11px 18px 11px;
    margin-top: 10px;
      box-shadow: none;
      outline: none;
 }
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #FED17B;
    border-color: #FED17B;
    outline: none;  box-shadow: none;

}

.btn-primary:focus{background-color: #FED17B; outline: none;  box-shadow: none;}

.docs-api-btn-link{color: white; outline: none;  box-shadow: none;}
.contat-us-btn-link{color: white; outline: none;  box-shadow: none;}

.docs-api-btn-link:focus, .docs-api-btn-link:hover{color: white; outline: none;   box-shadow: none;}

.contat-us-btn-link:focus, .contat-us-btn-link:hover{color: white;outline: none;   box-shadow: none;}


.btn-secondary {
    background-color: #fff;
    color: #f47374;
    border: 0.1rem solid #f47374;
}

.btn-secondary:focus,
.btn-secondary:hover {
    color: #d46667;
    background-color: #fff;
    border: 0.1rem solid #d46667;
}

.btn-default {
    background-color: #fff;
    color: #f47374;
    border: 0.1rem solid #fff;
}

.btn-default:hover {
    color: #d46667;
    background-color: #fff;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.1);
}
    
/*******************page*********************/
.mobile-data-row{
    display: none;

}


header.primary {
    position: fixed;
    flex-wrap: wrap;
    background-color: #001736;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    padding: 2px 0;
    z-index:99; 
    transition: top 0.3s;

}

@media only screen and (min-width: 150px) and (max-width: 670px) {
header.primary .navbar-brand {
    position: absolute;
    left: 0;
    padding-top: 65px;
    background: url("logo-tola-white-1.svg") 30% 100% no-repeat;
    background-size: 43%;;
    width: 150px;
}
}


@media only screen and (min-width: 670px) and (max-width: 2500px){
header.primary .navbar-brand {
    left: 0;
    position: absolute;
    padding-top: 76px;
    background: url("logo-tola-white-1.svg") 30% 100% no-repeat;
    background-size: 53%;
    width: 150px;
}
}
@media only screen and (min-width: 2501px){
header.primary .navbar-brand {
    left: 0;
    position: absolute;
    padding-top: 74px;
    background: url("logo-tola-white-1.svg") 30% 100% no-repeat;
    background-size: 53%;
    width: 150px;
}
}

header.primary .navbar-expand-md .navbar-nav {
    position: absolute;
    padding-top: 45px;
    right: 0;
    
}

header.primary .navbar-expand-md .navbar-nav .nav-item {
    
    padding: 0 12px;
}


header.primary .navbar-expand-md .navbar-nav .nav-item .nav-link {
    
    font-weight: 500;
    color: #fff;
    font-size: 0.8rem;
    line-height: 2rem
}

header.primary .navbar-expand-md .navbar-nav .nav-item .nav-link.btn{
    
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.0rem
}

@media (max-width: 800px){ .navbar-nav  { position: absolute;
    padding-top: 45px;
    right: 0; margin-top:45px; text-align: center; background-color: #001736; text-decoration-color: white; color: #fff; width:100% !important;}

}

@media only screen and (max-width: 670px) {
.banner{
background: url("shutterstock_1111879253-globe-reduced.webp");
background-size: cover;
background-repeat: no-repeat;
background-position: center center  ;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: smooth;
    -ms-interpolation-mode: nearest-neighbor;
    height: 87vh;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
}
@media only screen and (max-width: 2000px) and (min-width: 670px) {
.banner{
    background: url("shutterstock_1111879253-globe-reduced.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center  ;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: smooth;
    -ms-interpolation-mode: nearest-neighbor;
    height: 90vh;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;}
}
@media (min-width: 2001px) {
.banner{
    background: url("shutterstock_1111879253-globe-reduced.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center  ;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: smooth;
    -ms-interpolation-mode: nearest-neighbor;
    height: 80vh;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;}
}

@media screen and (min-width: 2001px){
.banner .title{
    color: #fff;
    font-weight:normal;
    font-size: 38px;
    margin-top: 50px;
}}

@media screen and (min-width: 670px) and (max-width: 2000px){
    .banner .title{
    color: #fff;
    font-weight:normal;
    font-size: 38px;
    margin-top: 50px;
}}


@media (max-width: 670px) and (min-width: 150px) {
.banner .title{
    color: #fff;
    font-weight:normal;
    font-size: 38px;
    margin-top: 50px;
}}

.banner .title{
    color: #fff;
    font-weight:normal;
}
@media (max-width: 670px) and (min-width: 150px) {
    .banner .banner_list{
    font-weight: normal;
    font-size: 10px;
    margin-top: 10px;
}}


@media screen and (min-width: 670px) and (max-width: 2000px){
.banner .banner_list{
    padding-left: 90px;
    margin-top: 20px;
}}
@media screen and (min-width: 2001px){
.banner .banner_list{
    padding-left: 90px;
    margin-top: 20px;
}}


.who-we-are {
    
    background: #04105D;
    color: #fff;
}

.tola-product-map{background: #FFFFFF;
padding-bottom: 50px;}

.how-does-we-work{
    padding-bottom: 50px;
    background: #EDF4F5;
}
  

.who-we-are p, .who-we-are h3 {

    color: #fff;
}

.card-container p, .card-container h3 {
    color: #04105D;
}
.who-we-are h1 {
    text-align: center
}

@media screen and (max-width: 1765px){
.who-we-are .card-container{
     width: 60%;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    padding-bottom: 20px;
   
}
}
.who-we-are .card-container{
     width: 100%;
     align-self: center;
     align-items: center;

    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}

@media screen and (min-width: 1399px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 225px !important;
    min-height: 352px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);c
}
}

.who-we-are .card-container .card-icon{
    height: 110px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 6px;
    padding-bottom: 10px;
}


.api-link{
color: #808080;
}
@media screen and (max-width: 1399px) and (min-width: 1200px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 225px !important;
    min-height: 340px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 1200px) and (min-width: 900px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 225px !important;
    min-height: 420px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 1000px) and (min-width: 850px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 275px !important;
    min-height: 420px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 850px) and (min-width: 650px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 275px !important;
    min-height: 420px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);
}
}


@media screen and (max-width: 650px) and (min-width: 350px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 285px !important;
    min-height: 390px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);
}
}
@media screen and (max-width: 350px){
.who-we-are .card-container .card {
    display: flex ;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
     align-self: center !important;
     align-items: center !important;
     align-content: center !important;
    min-width: 275px !important;
    min-height: 411px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  background-color: #FEB323;
  transition: 0.3s;
  width: 30%;
  border-radius: 6px;
}
.who-we-are .card-container .card:hover {
  box-shadow: 0 28px 46px 0 rgba(0,0,1,1.5);
}
}



@media screen and (max-width: 2270px){

    .tola-product-map .card-row{
    width: 80%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;


}}

.tola-product-map .card-row{
    width: 70%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media screen and (min-width: 1399px){
.tola-product-map .card-row .card {
        display: flex;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
    min-width: 385px !important;
    min-height: 180px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background-color: #FEB323;
  transition: 0.3s;
  width: 47%;
  border-radius: 6px;
}
.tola-product-map .card-row .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}
@media screen and (min-width: 1399px){
.tola-product-map .card-row .card {
        display: flex;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
    min-width: 385px !important;
    min-height: 210px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background-color: #FEB323;
  transition: 0.3s;
  width: 47%;
  border-radius: 6px;
}
.tola-product-map .card-row .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}
@media screen and (max-width: 1399px) and (min-width: 1280px){
    .tola-product-map .card-row .card {
            display: flex;
        flex-wrap: wrap;
        margin: 7px;
        margin-bottom: 50px;
        min-width: 385px !important;
        min-height: 180px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px 15px;
      background-color: #FEB323;
      transition: 0.3s;
      width: 47%;
      border-radius: 6px;
    }
    .tola-product-map .card-row .card:hover {
      box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
    }
    }
@media screen and (max-width: 1280px) and (min-width: 770px){
.tola-product-map .card-row .card {
        display: flex;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
    min-width: 385px !important;
    min-height: 210px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background-color: #FEB323;
  transition: 0.3s;
  width: 47%;
  border-radius: 6px;
}
.tola-product-map .card-row .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 770px) and (min-width: 450px){
.tola-product-map .card-row .card {
        display: flex;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
    min-width: 355px !important;
    min-height: 185px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background-color: #FEB323;
  transition: 0.3s;
  width: 47%;
  border-radius: 6px;
}
.tola-product-map .card-row .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 450px){
.tola-product-map .card-row .card {
        display: flex;
    flex-wrap: wrap;
    margin: 7px;
    margin-bottom: 50px;
    min-width: 260px !important;
    min-height: 175px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background-color: #FEB323;
  transition: 0.3s;
  width: 47%;
  border-radius: 6px;
}
.tola-product-map .card-row .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}

/*new feature card */
@media screen and (max-width: 2270px){

    .tola-product-map .card-row-tola-features{
    width: 80%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}}

.tola-product-map .card-row-tola-features{
    width: 100%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media screen and (min-width: 1399px){
.tola-product-map .card-row-tola-features .card {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 20px;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    min-width: 190px !important;
    min-height: 185px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: left;
  background-color: #FEB323;
  transition: 0.3s;
  width: 32%;
  border-radius: 6px;
}
.tola-product-map .card-row-tola-features .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}
@media screen and (max-width: 1280px) and (min-width: 800px){
    .tola-product-map .card-row-tola-features .card {
            display: flex;
        flex-wrap: wrap;
        margin: 5px;
        margin-bottom: 20px;
        align-self: center !important;
        align-items: center !important;
        align-content: center !important;
        min-width: 190px !important;
        min-height: 150px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px 15px;
      text-align: left;
      background-color: #FEB323;
      transition: 0.3s;
      width: 48%;
      border-radius: 6px;
    }
    .tola-product-map .card-row-tola-features .card:hover {
      box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
    }
    }

@media screen and (max-width: 800px) and (min-width: 770px){
.tola-product-map .card-row-tola-features .card {
        display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 20px;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    min-width: 190px !important;
    min-height: 225px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: left;
  background-color: #FEB323;
  transition: 0.3s;
  width: 48%;
  border-radius: 6px;
}
.tola-product-map .card-row-tola-features .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 770px) and (min-width: 450px){
.tola-product-map .card-row-tola-features .card {
        display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 20px;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    min-width: 190px !important;
    min-height: 280px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: left;
  background-color: #FEB323;
  transition: 0.3s;
  width: 48%;
  border-radius: 6px;
}
.tola-product-map .card-row-tola-features .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}

@media screen and (max-width: 450px){
.tola-product-map .card-row-tola-features .card {
        display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 20px;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    min-width: 260px !important;
    min-height: 180px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: left;
  background-color: #FEB323;
  transition: 0.3s;
  width: 47%;
  border-radius: 6px;
}
.tola-product-map .card-row-tola-features .card:hover {
  box-shadow: 0 18px 16px 0 rgba(0,0,1,1.5);
}
}


/* Slideshow container for Testimonial*/
.slideshow-testimonial {
    position: relative;
    background: #f1f1f1f1;
  }
 
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
 
  .prev-testimonial, .next-testimonial {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next-testimonial {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev-testimonial:hover, .next-testimonial:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  q {font-style: italic;}
  
  .author {color: cornflowerblue;}

  
.logo-item {
    max-width: 100%;
    height: auto;
  }

@media screen and (max-width: 450px){ 
    .card .bullet-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     }

.card .bullet-container .bullet{display: block;}
 }
.card .bullet-container{display: flex;
    justify-content: space-between;}
.card .bullet-container .bullet{display: table-cell;}
.card .bullet-container .bullet ul li ul {color:#04105D; font-size: small;}
.card .bullet-container .bullet ul li {color:#04105D;}

.feature-list ul{
    list-style: none;
    padding-right: 20px;
    align-self: center;
}

.feature-list ul li .title::before {
  content: "___";  
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-flex; /* Needed to add space between the bullet and the text */
  width: 3em; /* Also needed for space (tweak if needed) */

  margin-left: -3.0em; /* Also needed for space (tweak if needed) */
}

.card ul{
    position: relative;
    list-style-type: square;
    padding-right: 20px;
    align-self: center;
    
}

/*testimonial logos grid*/
.slide-grid-logo {
    display: grid;
    grid-gap: 10px;
  }
  
.slide-item-logo {
    text-align: center !important;
    align-self: center !important;
    margin-bottom: 10px;
  } 
/* B2tech grid for operator images*/  
.slide-grid-operator-b2tech{
    display: grid;
    grid-gap: 15px;
}
.slide-item-operator-b2tech{
    text-align: center !important;
    align-self: center !important;
}
/* B2tech image*/
@media screen and (max-width: 2270px){ 
    .slide-img-b2tech{
        width: 165px;
    } 
    .slide-img-operator-b2tech{
        width: 70px;
    }
}   
@media screen and (min-width: 1399px){  
    .slide-img-b2tech{
        width: 165px;
    } 
    .slide-img-operator-b2tech{
        width: 70px;
    }
}
@media screen and (max-width: 1399px) and (min-width: 770px){ 
    .slide-img-b2tech{
        width: 165px;
    } 
    .slide-img-operator-b2tech{
        width: 70px;
    }
}        
@media screen and (max-width: 770px) and (min-width: 450px){  
    .slide-img-b2tech{
        width: 130px;
    } 
    .slide-img-operator-b2tech{
        width: 55px;
    }
}    
@media screen and (max-width: 450px){  
    .slide-img-b2tech{
        width: 130px;
    } 
    .slide-img-operator-b2tech{
        width: 55px;
    }
}         

/* MyDawa logo image*/
@media screen and (max-width: 2270px){   
    .slide-img-mydawa{
        width: 160px;
    } 
}   
@media screen and (min-width: 1399px){  
    .slide-img-mydawa{
        width: 160px;
    } 
}
@media screen and (max-width: 1399px) and (min-width: 770px){  
    .slide-img-mydawa{
        width: 160px;
    } 
}        
@media screen and (max-width: 770px) and (min-width: 450px){  
    .slide-img-mydawa{
        width: 120px;
    } 
}    
@media screen and (max-width: 450px){
    .slide-img-mydawa{
        width: 120px;
    } 
}

/* Betty image*/
@media screen and (max-width: 2270px){ 
    .slide-img-betty{
        width: 60px;
    } 
}   
@media screen and (min-width: 1399px){
    .slide-img-betty{
        width: 60px;
    } 
}
@media screen and (max-width: 1399px) and (min-width: 770px){
    .slide-img-betty{
        width: 60px;
    } 
}        
@media screen and (max-width: 770px) and (min-width: 450px){
    .slide-img-betty{
        width: 45px;
    } 
}    
@media screen and (max-width: 450px){
    .slide-img-betty{
        width: 45px;
    } 
} 

/* MWOS logo image*/
@media screen and (max-width: 2270px){ 
    .slide-img-mwos{
        width: 130px;
    }
}    
@media screen and (min-width: 1399px){
    .slide-img-mwos{
        width: 130px;
    }
}    
@media screen and (max-width: 1399px) and (min-width: 770px){ 
    .slide-img-mwos{
        width: 130px;
    }
}       
@media screen and (max-width: 770px) and (min-width: 450px){
    .slide-img-mwos{
        width: 100px;
    }
}    
@media screen and (max-width: 450px){ 
    .slide-img-mwos{
        width: 100px;
    }
} 

/* olabet logo image*/
@media screen and (max-width: 2270px){ 
    .slide-img-olabet{
        width: 62px;
    }
}    
@media screen and (min-width: 1399px){
    .slide-img-olabet{
        width: 62px;
    }
}    
@media screen and (max-width: 1399px) and (min-width: 770px){ 
    .slide-img-olabet{
        width: 62px;
    }
}       
@media screen and (max-width: 770px) and (min-width: 450px){
    .slide-img-olabet{
        width: 51px;
    }
}    
@media screen and (max-width: 450px){ 
    .slide-img-olabet{
        width: 51px;
    }
} 

/* Sojogo grid for operator images*/  
.slide-grid-operator-placard{
    display: grid;
    grid-gap: 15px;
}
.slide-item-operator-placard{
    text-align: center !important;
    align-self: center !important;
}
/* Placard image*/
@media screen and (max-width: 2270px){ 
    .slide-img-placard{
        width: 165px;
    } 
    .slide-img-operator-placard{
        width: 100px;
    }
}   
@media screen and (min-width: 1399px){  
    .slide-img-placard{
        width: 165px;
    } 
    .slide-img-operator-placard{
        width: 100px;
    }
}
@media screen and (max-width: 1399px) and (min-width: 770px){ 
    .slide-img-placard{
        width: 165px;
    } 
    .slide-img-operator-placard{
        width: 100px;
    }
}        
@media screen and (max-width: 770px) and (min-width: 450px){  
    .slide-img-placard{
        width: 130px;
    } 
    .slide-img-operator-placard{
        width: 80px;
    }
}    
@media screen and (max-width: 450px){  
    .slide-img-placard{
        width: 130px;
    } 
    .slide-img-operator-placard{
        width: 80px;
    }
}
/* Bet258 logo image*/
@media screen and (max-width: 2270px){ 
    .slide-img-bet258{
        width: 145px;
    }
}    
@media screen and (min-width: 1399px){
    .slide-img-bet258{
        width: 145px;
    }
}    
@media screen and (max-width: 1399px) and (min-width: 770px){ 
    .slide-img-bet258{
        width: 145px;
    }
}       
@media screen and (max-width: 770px) and (min-width: 450px){
    .slide-img-bet258{
        width:120px;
    }
}    
@media screen and (max-width: 450px){ 
    .slide-img-bet258{
        width:120px;
    }
} 

/* Gameloft logo image*/
@media screen and (max-width: 2270px){ 
    .slide-img-gameloft{
        width: 95px;
    }
}    
@media screen and (min-width: 1399px){
    .slide-img-gameloft{
        width: 95px;
    }
}    
@media screen and (max-width: 1399px) and (min-width: 770px){ 
    .slide-img-gameloft{
        width: 75px;
    }
}       
@media screen and (max-width: 770px) and (min-width: 450px){
    .slide-img-gameloft{
        width:70px;
    }
}    
@media screen and (max-width: 450px){ 
    .slide-img-gameloft{
        width:70px;
    }
}

/* Merchant logo */
.logo-item {
    text-align: center !important;
    align-self: center !important;
  }
@media screen and (max-width: 2270px){
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
      }
    .logo-safaricom{
        width: 85px;
       } 
    .logo-aitel{
        width: 70px;
    }   
    .logo-vodacom{
        width: 67px;
    }   
    .logo-airteltigo{
        width: 85px;
    }   
    .logo-tigo{
        width: 45px;
    }   
    .logo-halotel{
        width: 80px;
    }   
    .logo-mtn{
        width: 50px;
    }   
    .logo-telecel{
        width: 70px;
    }   
    .logo-movitel{
        width: 45px;
    }   
    .logo-tnm{
        width: 45px;
    }   
    .logo-zamtel{
        width: 55px;
    }   
    .logo-africell{
        width: 70px;
    }   
    .logo-orange{
        width: 48px;
    }    
    .logo-mgurush{
        width: 73px;
    }
    .logo-wave{
        width: 90px; 
    }
    .logo-telebirr{
        width: 90px; 
    }
    .logo-tmcel{
        width: 65px; 
    }
    .logo-eswatini-mobile{
        width: 95px; 
    }
    .logo-instacash{
        width: 90px; 
    }   
}
@media screen and (min-width: 1399px){
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 30px;
      }
        .logo-safaricom{
            width: 85px;
           } 
        .logo-aitel{
            width: 70px;
        }   
        .logo-vodacom{
            width: 67px;
        }   
        .logo-airteltigo{
            width: 85px;
        }   
        .logo-tigo{
            width: 45px;
        }   
        .logo-halotel{
            width: 80px;
        }   
        .logo-mtn{
            width: 50px;
        }   
        .logo-telecel{
            width: 70px;
        }   
        .logo-movitel{
            width: 45px;
        }   
        .logo-tnm{
            width: 45px;
        }   
        .logo-zamtel{
            width: 55px;
        }   
        .logo-africell{
            width: 70px;
        }   
        .logo-orange{
            width: 48px;
        }    
        .logo-mgurush{
            width: 73px;
        }  
        .logo-wave{
            width: 90px;
        }
        .logo-telebirr{
            width: 90px; 
        }
        .logo-tmcel{
            width: 65px; 
        }
        .logo-eswatini-mobile{
            width: 95px; 
        }
        .logo-instacash{
            width: 90px; 
        }    
}
@media screen and (max-width: 1399px) and (min-width: 770px){
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
      }
    .logo-safaricom{
        width: 85px;
       } 
    .logo-aitel{
        width: 70px;
    }   
    .logo-vodacom{
        width: 67px;
    }   
    .logo-airteltigo{
        width: 85px;
    }   
    .logo-tigo{
        width: 45px;
    }   
    .logo-halotel{
        width: 80px;
    }   
    .logo-mtn{
        width: 50px;
    }   
    .logo-telecel{
        width: 70px;
    }   
    .logo-movitel{
        width: 45px;
    }   
    .logo-tnm{
        width: 45px;
    }   
    .logo-zamtel{
        width: 55px;
    }   
    .logo-africell{
        width: 70px;
    }   
    .logo-orange{
        width: 48px;
    }    
    .logo-mgurush{
        width: 73px;
    }   
    .logo-wave{
        width: 90px; 
    }
    .logo-telebirr{
        width: 90px; 
    }
    .logo-tmcel{
        width: 65px; 
    }
    .logo-eswatini-mobile{
        width: 90px; 
    }
    .logo-instacash{
        width: 90px; 
    }     
}
@media screen and (max-width: 770px) and (min-width: 450px){
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    } 
    .logo-safaricom{
        width: 80px;
    } 
    .logo-aitel{
        width: 65px;
    }   
    .logo-vodacom{
        width: 62px;
    }   
    .logo-airteltigo{
        width: 80px;
    }   
    .logo-tigo{
        width: 40px;
    }   
    .logo-halotel{
        width: 75px;
    }   
    .logo-mtn{
        width: 45px;
    }   
    .logo-telecel{
        width: 65px;
    }   
    .logo-movitel{
        width: 40px;
    }   
    .logo-tnm{
        width: 40px;
    }   
    .logo-zamtel{
        width: 50px;
    }   
    .logo-africell{
        width: 65px;
    }   
    .logo-orange{
        width: 43px;
    }    
    .logo-mgurush{
        width: 68px;
    } 
    .logo-wave{
        width: 84px;  
    }
    .logo-telebirr{
        width: 85px; 
    }
    .logo-tmcel{
        width: 60px; 
    }
    .logo-eswatini-mobile{
        width: 85px; 
    }
    .logo-instacash{
        width: 85px; 
    }     
}
@media screen and (max-width: 450px){
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .logo-safaricom{
        width: 80px;
    } 
    .logo-aitel{
        width: 65px;
    }   
    .logo-vodacom{
        width: 62px;
    }   
    .logo-airteltigo{
        width: 80px;
    }   
    .logo-tigo{
        width: 40px;
    }   
    .logo-halotel{
        width: 75px;
    }   
    .logo-mtn{
        width: 45px;
    }   
    .logo-telecel{
        width: 65px;
    }   
    .logo-movitel{
        width: 40px;
    }   
    .logo-tnm{
        width: 40px;
    }   
    .logo-zamtel{
        width: 50px;
    }   
    .logo-africell{
        width: 65px;
    }   
    .logo-orange{
        width: 43px;
    }    
    .logo-mgurush{
        width: 68px;
    } 
    .logo-wave{
        width: 84px;  
    }
    .logo-telebirr{
        width: 85px; 
    }
    .logo-tmcel{
        width: 60px; 
    }
    .logo-eswatini-mobile{
        width: 85px; 
    }
    .logo-instacash{
        width: 85px; 
    }   
}

.tola-product .feature-list{padding-bottom: 30px;}
.tola-product{
    position: relative;
    padding-bottom: 50px;
    background: #fff;
}

.businesswoman{
    border-radius: 15px;
}

@media only screen and (max-width: 450px) and (min-width: 150px) {
.easy-onboarding{
    padding-top: 0px;}
}
@media only screen and (max-width: 1220px) and (min-width: 450px) {
.easy-onboarding{
    padding-top: 0px;}
}
@media only screen and (max-width: 1400px) and (min-width: 1220px) {
    .easy-onboarding{
        padding-top: 15px;}

}
@media only screen and (max-width: 2000px) and (min-width: 1400px) {
    .easy-onboarding{
        padding-top: 55px;}

}

@media only screen and (min-width: 2001px) {
.easy-onboarding{
    padding-top: 35px;}

}


.about{ 
    background: #fff;

    padding-bottom: 50px;
}

.tola-product .tola-success{padding-top: 60px;}

.tola-product .countries-supported{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;

}
.tola-product .countries_supported-text{
    padding-bottom: 30px;
    
}

.countries_supported-text {
    color: #04105D;
}

.foot{padding-top: 20px;}

.foot .linkdin-image{padding-bottom: 10px;}

.foot-content .copyright{color: #FFFFFF;}
.foot-content .email-link{color: #FFFFFF;}


.tola-product .how-it-works .img-cont{
    position: relative;
    padding-top: 30px;

}


footer{
    position: relative;
    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;*/
    background: #04105D;
    z-index: -1;
    padding: 64px 0 40px;
}

footer .title{
    position: relative;
    color: #fff;
}

footer h6.title{
    position: relative;
    font-weight: 400;
}

footer .contact{
    display: block;
}

footer .contact li{
    font-size: 32px;
    color: #fff;
    display: inline-block;
    margin-bottom: 24px;
    margin: 0 12px;
}

footer .social{
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 48px 0 64px;
    justify-content: center;
}


footer .social li a{
    position: relative;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 100%;
    line-height: 48px;
    margin-right: 8px;
    margin-left: 8px;
    display: block;
}

footer .bottom hr{
    position: relative;
    opacity: 0.3;
}

footer .bottom p{
    position: relative;
    opacity: 0.5;
    color: #fff;
    margin-top: 16px;
    font-size: 12px;
}

@media (max-width: 1200px) {
    
   header.primary .navbar-expand-lg .navbar-nav .nav-item{
    position: relative;
        padding: 0 8px;
    }
    
    
    .the-team .the-team-list ul li h4.title{
        position: relative;
        font-size: 12px;
    }
}

@media (max-width: 992px){
    h2.title{
        position: relative;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    
    
    header.primary .navbar-expand-lg .navbar-nav{
        position: relative;
        background: #fff;
        padding-bottom: 24px;
        padding-top: 8px;
        border-radius: 4px;
    }
    
    header.primary .navbar-expand-lg .navbar-nav .nav-item .nav-link{
        position: relative;
        color: #04105D;
    }
    
    header.primary .navbar-expand-lg .navbar-nav .nav-item .nav-link.btn{
        position: relative;
        color: #fff;
    }
    
    
    footer{
        position: relative;
        padding: 40px 0 24px;
    }
}


@media (max-width: 768px) { 
    h2.title{
        position: relative;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    
    h3.title{
        position: relative;
        font-size: 1.2rem;
    }
    
    h4.title{
        position: relative;
        font-size: 0.8rem;
    }
    
    .mobile-data-row{
        display: none;
    }
    
    header.primary .navbar-expand-lg .navbar-nav{
        position: relative;
        background: #fff;
        padding-bottom: 24px;
        padding-top: 8px;
        border-radius: 4px;
    }
    
    header.primary .navbar-expand-lg .navbar-nav .nav-item .nav-link{
        position: relative;
        color: #04105D;
    }
    
    header.primary .navbar-expand-lg .navbar-nav .nav-item .nav-link.btn{
        position: relative;
        color: #fff;
    }
    
    
    .who-we-are .feature-list-content h2.title{
        position: relative;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .who-we-are ul{
        position: relative;
        padding-left: 0px;
    }
    
    .who-we-are ul li span.icon{
        position: relative;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    
    .who-we-are ul li span.icon img{
        position: relative;
        width: 40px;
        height: 40px;
    }
    
    footer .social{
        margin: 24px 0 22px;
    }
    
    footer .contact li{
        font-size: 24px;
    }
    
    footer .social li a{
        width: 40px;
        height: 40px;
        line-height: 40px
    }
}

@media (max-width: 576px) {
    h1.title{
        font-size: 2rem;
    }
    
    header.primary .navbar-expand-lg .navbar-nav{
        background: #fff;
        padding-bottom: 24px;
        padding-top: 8px;
        border-radius: 4px;
    }
    
    header.primary .navbar-expand-lg .navbar-nav .nav-item .nav-link{
        color: #04105D;
    }
    
    header.primary .navbar-expand-lg .navbar-nav .nav-item .nav-link.btn{
        color: #fff;
    }
    
    .banner{
        padding: 140px 0;
    }
    
    .who-we-are ul li{
        width: 100%;
    }
    

}
